<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landry Leopard</title>
    <link href="style.css" rel="stylesheet" text="type/css">
  </head>
  <body>
    <h1>My name is Landry Leopard.</h1>
    <h2> <button id="b1"> about </button> // <button id="b2"> projects </button> // <button ID="b3"> contact </button> </h2>  
    <p>I am a junior web developer. </p>
    <footer>
        <img class="tartar" src="https://d3ebicv0uqgr7t.cloudfront.net/images/tarsier.png">
    </footer>
  </body>
</html>

