<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landry Leopard</title>
  <link href="style.css" rel="stylesheet" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
  </head>
  <body>
    <h1>I'm Landry Leopard</h1>
     <h2> <button id="b1">about</button> // <button id="b2">github</button> //
      <button ID="b3">contact</button> </h2>
    <p>a full-stack junior web developer.</p>
    <footer>
      <img
        class="tartar"
        src="https://d3ebicv0uqgr7t.cloudfront.net/images/tarsier.png"
      />
    </footer>
  </body>
</html>