<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landry Leopard</title>
  <link href="style.css" rel="stylesheet" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="/java.jpg">
  </head>
  <body>
    <h1>I'm Landry Leopard</h1>

     <h2> <form action="https://www.linkedin.com/in/landry-leopard-146a0717a/"> <input type="submit" value="LinkedIn" target="_blank"/>
     </form>

      <form action="https://github.com/Landry728"> <input type="submit" value="GitHub" />
      </form>

      <form action="https://github.com/Landry728"> <input type="submit" value="Contact" />
      </form>

    <p>a full-stack junior web developer.</p>
    <footer>
      <img
        class="tartar"
        src="https://d3ebicv0uqgr7t.cloudfront.net/images/tarsier.png"
      />
    </footer>
  </body>
</html>